# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
fastevn/

# Environment variables
.env
*.env
.env.*

# Database
*.db
*.sqlite3

# Logs
*.log

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db